<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being edited on the website</h2>
 
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit Product</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
  </div>
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, number_to_currency(@product.price) %>
  </div>  
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>
  <%= submit_tag "Edit a product" %>

<% end %>