<%= link_to "Add new product", "/products/new" %>
<hr>

<% @products.each do |product| %>

<div>
  <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
  <h4><%= product.price %></h4>
  <h2><img src=<%= product.image %>></h2>
  <h3><%= product.description %></h3>
  <hr>
</div>


<% end %>